$headingFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;
$headingSize: 58px;
$subHeadingSize: 32px;
$titleSize: 24px;
$bodySize: 17px;
$light: #ddd;
$lightGray: #999;
$gray: #666;
$darkGray: #333;